{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'accCtrl/base.css' %}">
    <link rel="stylesheet" href="{% static 'accCtrl/ac.css' %}">

</head>
<body>
    <header id="TOPBAR">
        <h1>Digiledger Access Control</h1>
        <button id="return_button">Return</button>
    </header>
    <aside id="SIDEBAR">
        <div id="roleList">
            {% for role in Roles %}
            <div id="role">
                <p>{{role.entity_name}}</p>
                <button>edit</button>
                <button>delete</button>
            </div>
            {% endfor %}
        </div>
        <button>Add</button>
    </aside>
    <main id="mainContent">
        <form method="post" action="{% url 'acs_ctrl:access_control' %}">
            {% csrf_token %}
            {% for entity, permissions in entityDatas.items %}
                <div id="entPerms">
                    <h1>{{ entity }}</h1>
                    {% for permission, has_access in permissions.items %}
                        <div>
                            <input type="checkbox" name="{{ entity }}_{{ permission }}" {% if has_access %}checked{% endif %}>
                            <label for="{{ entity }}_{{ permission }}">{{ permission }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" id="saveChanges">Save</button>
        </form>
    </main>
    <script>

      const returnButton = document.getElementById('return_button');
      returnButton.addEventListener('click', () => {
            window.location.href = "{% url 'login:reroute' %}";
      });

    </script>
</body>
</html>