{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'accCtrl/base.css' %}">
    <link rel="stylesheet" href="{% static 'accCtrl/ac.css' %}">

</head>
<body>
    <div id="addEntity">
        <form action="{% url 'acs_ctrl:createNewEntity' %}" method="post">
            {% csrf_token %}
            <figure>
                <fieldset>
                    <legend>Add Entity</legend>
                    <div id="addEntContent">
                        <input type="text" name="newEntityName" placeholder="New Entity's Name">
                        <button id="createNewEntBtn" type="submit">Create</button> {# Explicitly set type to submit for clarity #}
                        <button id="closeNewEntBtn" type="button">Cancel</button> {# Set type to button to prevent submission #}
                    </div>
                </fieldset>
            </figure>
        </form>
    </div>
    <header id="TOPBAR">
        <h1>Digiledger Access Control</h1>
        <button id="return_button">Return</button>
    </header>
    <aside id="SIDEBAR">
        <div id="roleList">
            {% for role in Roles %}
            <div id="role">
                <p>{{role.entity_name}}</p>
                <form action="{% url 'acs_ctrl:deleteEntity' %}" method="post" style="display: inline;"> 
                    {% csrf_token %}
                    <input type="hidden" name="role_to_delete" value="{{role.entity_name}}"> {# Hidden input with the value to send #}
                    <button type="submit" class="delete-btn">delete</button> {# This button will submit this form #}
                </form>
            </div>
            {% endfor %}
        </div>
        <button id="addEntityBtn">Add</button>
    </aside>
    <main id="mainContent">
        <form method="post" action="{% url 'acs_ctrl:access_control' %}">
            {% csrf_token %}
            {% for entity, permissions in entityDatas.items %}
                <div id="entPerms">
                    <h1>{{ entity }}</h1>
                    {% for permission, has_access in permissions.items %}
                        <div>
                            <input type="checkbox" name="{{ entity }}_{{ permission }}" {% if has_access %}checked{% endif %}>
                            <label for="{{ entity }}_{{ permission }}">{{ permission }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" id="saveChanges">Save</button>
        </form>
    </main>
    <script>

        const returnButton = document.getElementById('return_button');
        returnButton.addEventListener('click', () => {
                window.location.href = "{% url 'login:reroute' %}";
        });

        // Get references to the button and the overlay div
        const addEntityButton = document.getElementById('addEntityBtn');
        const addEntityDiv = document.getElementById('addEntity');
        const closeNewEntBtn = document.getElementById('closeNewEntBtn');
        
        // Add a click event listener to the button
        addEntityButton.addEventListener('click', () => {
            // Set the visibility of the #addEntity div to 'visible'
            addEntityDiv.style.visibility = 'visible';
        });
        closeNewEntBtn.addEventListener('click', () => {
            // Set the visibility of the #addEntity div to 'visible'
            addEntityDiv.style.visibility = 'hidden';
        });
    </script>
</body>
</html>